.logo {
height :5%;
width :5%;
}
#but{
background-color : blue;
color: white;
font-size: 12px;}



.carousel-inner img {
width: 100%;
height: 100%;
}

.modal{
  overflow: auto !important;
}

.modal-contact {
  align-content:Left;
}

footer{
 height: 80px;
 width: 100%;
 bottom: 0;
 position: relative;
}

